html {
    font-size: 30.5%;
}
body {
  color: #222;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
  padding: 2rem;
  /* background: url(../images/mover2.jpeg); */
  background-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body {
    margin: 10px 20px;
    font-size: 1.8rem;
}

 
.container {
    /* margin: 10px 20px 10px 20px; */
    margin-left: 10em;
    margin-right: 10em;
    border: 2px;
}
.ingredients {
    /* column-count: 2; */
    color: #ff9800;
    background-color: #ffffff;
    border: 5px solid #ff9800;
}
h1, h2, h3, h4, h5, h6 {
    font-family:  Lato, Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: black;
    background-color: #ff9800;
    text-align: center;
    /* margin: 1rem auto; */
}
h1 {
    font-size: 5.6em;
    color: black;
}
h2 {
    font-size: 4.3em;
}

h5 {
    font-size: 2.4em;
}
img {
    width: 80%;
}

.procedure {
    width: 100%;

}
.box {
      width: 31rem;
      height: 24rem;
      background-color: #ffffff;
      display: inline-block;
      margin: 5px;
      overflow: auto;
      text-align: left;
      border: 10px solid #ff9800;
      color: #ff9800;
      text-align: center;
}

.form {
    margin: 1rem;
    width: 80vh;
}
.food {
    border: 9px solid #ff9800;
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}

/* @media screen and (max-width: 992px) {
  body {
     
}

@media screen and (max-width: 500px) {
  body {
    background-color: olive;
  }
  html {
      font-size: 20.5%;
  }
} */